table.ui.sortable.celled.table.striped.center.aligned
  thead
    tr
      th.two.wide ID
      th Name
      th.two.wide Census
      th.two.wide Capacity
      th.two.wide Low Alarm
      th.two.wide High Alarm
  tbody
    each unit in units
      tr
        td= unit.id
        td= unit.name
        td= unit.census
        td= unit.capacity
        td #{unit.lowAlarm || "-"}
        td #{unit.highAlarm || "-"}
