each unit in units
  -
    const classes = [];
    const lowWarning = unit.lowAlarm && unit.census <= unit.lowAlarm;
    const highWarning = unit.highAlarm && unit.census >= unit.highAlarm;
    if (lowWarning || highWarning) classes.push('warning');
  tr(class=classes)
    td= unit.id
    td= unit.name
    td
      if highWarning || lowWarning
        i.attention.icon
      | #{unit.census}
    td= unit.capacity
    td
      if lowWarning
        i.attention.icon
      | #{unit.lowAlarm || "-"}
    td
      if highWarning
        i.attention.icon
      | #{unit.highAlarm || "-"}